[FORMAT]
# Максимальная длина строки кода
max-line-length=100  # Рекомендуется 100, чтобы код оставался читабельным на разных экранах

# Минимальная длина строки документации (docstring)
docstring-min-length=10  # Чтобы избежать пустых docstrings

[MESSAGES CONTROL]
# Отключить предупреждения о том, что у модуля, класса или функции отсутствует docstring.
disable=C0114, C0115, C0116  # Отключить сообщения о docstrings (если они тебе не важны)

# Отключить предупреждение о том, что импортируемые модули не используются
disable=W0611  # Убирает предупреждение об "unused-import"
enable=too-many-branches,too-many-locals,too-many-statements  # Включить предупреждения о большом количестве ветвей, локальных переменных и операторов