numpy # Для работы с массивами данных
PySide6 # Для создания графического интерфейса
tensorflow # Для обучения нейронной сети
pygame # Для отрисовки игры
dask[distributed]  # Поддержка распределённых вычислений через Dask
mpi4py  # Для возможного использования MPI в будущем