numpy # Для работы с массивами данных
tensorflow # Для обучения нейронной сети
dask[distributed]  # Поддержка распределённых вычислений через Dask
mpi4py  # Для возможного использования MPI в будущем
PySide6 # Для создания графического интерфейса
pyperclip # Для копирования текста в буфер обмена